<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2 >Hello {{ user.first_name }}! Edit Your Wish!</h2>
    {% if messages %}
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
    <form action="/update_wish/{{wish.id}}/" method='POST'>
        {% csrf_token %}
        <div>
            <label>I wish for:</label>
            <input type="text" value='{{ wish.item }}'name='item'>
        </div>
        <div>
            <label>Description:</label>
            <input type="text" value="{{ wish.desc }}" name='desc'>
        </div>
        <button type="submit" value='submit'>Edit</button>
        <a href="/wishes/"> Cancel</a>
    </form>
</body>
</html>


--------------------------------------------------------------------------------



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login and Registration</title>
</head>
<body>
    <div>
        <h1> Register</h1>
        {% if messages %}
            {% for message in messages %}
                <p>{{message}}</p>
            {% endfor %}
        {% endif %}
        <form action = "/register/" method="POST">
            {% csrf_token %}
            <p> First Name:<input type ="text" name = "first_name"></p>
            <p> Last Name:<input type ="text" name = "last_name"></p>
            <p> Email:<input type ="text" name = "email"></p>
            <p> Password:<input type ="password" name = "password"></p>
            <p> Confirm Password:<input type ="password" name = "confirm_password"></p>
            <input type = "submit" value="Register">
        </form>
        <hr/>
        <h1> Login </h1>
        <form action="/login/" method="POST">
            {% csrf_token %}
            <p> Email:<input type = "text" name = "email"></p>
            <p> Password:<input type = "password" name = "password"></p>
            <input type = "submit" value = "Login">
        </form>
    </div>
    <div>
    </div>
</body>
</html>


--------------------------------------------------------------------------------



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Hello {{ user.first_name }} Make a wish! | <a href="/logout/">Logout</a></h2>
    {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <form action="/new_wish/" method='POST'>
        {% csrf_token %}
        <div>
            <label> I wish for:</label>
            <input type="text"  name="item">
        </div>
        <div>
            <label>Description:</label>
            <input type="text" name="desc">
        </div>
        <input type="hidden" name='user_id' value="{{ user.id }}">
        <button type="submit" value='submit'>Add</button>
        <a href="/wishes/">Cancel</a>
    </form>
</body>
</html>


--------------------------------------------------------------------------------



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success</title>
</head>
<body>
    <p> You Have Registered!!</p>
    <a href = '/index/'>Go Back</a>
</body>
</html>

--------------------------------------------------------------------------------


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2> Hello {{ user.first_name }}</h2>
    <a href="/logout/">Logout</a>
    <a href="/new/"> Make a wish</a>
    <a href="/stats/"> View stats</a>

{% if messages %}
<ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<div>
    <table>
        <thead>
            <p>Your wishes</p>
            <tr>
                <th>Item</th>
                <th>Date added</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for wish in wishes %}
            <tr>
                <th>{{ wish.item }}</th>
                <td>{{ wish.created_at }}</td>
                <td>
                    <a href="/edit/{{wish.id}}/">Edit</a>
                    <form action="/delete/" method='POST'>
                        {% csrf_token %}
                        <input type="hidden" name='wish_id' value="{{ wish.id }}">
                        <button type="submit">Remove</button>
                    </form>
                    <form action="/grant/{{wish.id}}/" method='POST'>
                        {% csrf_token %}
                        <input type="hidden" name='user_id' value="{{ wish.user.id}}">
                        <input type="hidden" name='wish_item' value="{{ wish.item }}">
                        <input type="hidden" name='wish_created' value="{{ wish.created_at }}">
                        <button type="submit">Grant</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div>
    <table>
        <thead>
            <p> Granted wishes</p>
            <tr>
                <th>Item</th>
                <th>Wisher</th>
                <th>Date added</th>
                <th>Date granted</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for grant in granted_wishes %}
            <tr>
                <th>{{ grant.item }}</th>
                <td>{{ grant.user.first_name }}</td>
                <td>{{ grant.date_added }}</td>
                <td>{{ grant.granted_at }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</body>
</html>